[data-source-code]::before {
    content: "Source Code:"
}
[data-source-code] {
    background: #ffe;
    padding: 10px;
    margin: 10px 0;
    overflow-x: scroll;
}

[data-source-example]::before {
    content: "Output:"
}
[data-source-example] {
    background: #efe;
    padding: 10px;
    margin: 10px 0;
}