.board { border-spacing: 0; }
.board td:last-of-type { border-right: none; }
.board tr:last-of-type td { border-bottom: none; }
.board td { width: 150px; height: 150px; text-align: center;
    border: 10px black solid; border-left: none; border-top: none;
    font: bold 7em sans-serif;
}
